<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/logo-mercado-liebre.svg">
        <link rel="stylesheet" href="/css/styles.css">

        <!-- estilo de texto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
        <!-- Iconos -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!-- Tipos de columnas -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
        <header> 
            <div class="items-header">
                    <div class="main-header-top-var">
                        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" >
                        <form action="/search">
                            <input type="search" name="buscador" id="buscador" placeholder="Buscas productos, marcas y mas">
                            <i id="iconoBusqueda" class="fa fa-search"></i>
                        </form>
                        
                        <p class="div-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                    </div>

                <nav class="lista-menu">

                    <ul class="menu-pagina"> 
                        
                        <li><a href="http://#">Ofertas</a></li>
                        <li><a href="http://#">Tiendas Oficiales</a></li>
                        <li><a href="/vender">Vender</a></li>
                        <li><a href="http://#">Ayuda</a></li>
                    </ul>
                    
                    <ul class="menu-usuario">
                        <li><a  href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a>  </li> 
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                        <li><a href="http://#">Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
                    </ul>
                </nav>

                <div class="burger-menu">
                    <i id='iconoAmburguesa' class="fas fa-bars"></i>
                </div>
            </div>
        </header>

        
        <main>
            <img class='banner' src="/images/img-home-banner.jpg" alt="img-home-banner" >
        <section>
        <h2>Basado en tu última visita</h2>
        <div class="card-ultimas-vistas">
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" >
                <div class="descripcion-de-foto">
                <i class="fas fa-shipping-fast"></i>
                <div class="div-precioYdescuento">
                <h4 class= "precio">$6.770</h4>
                <h4 class="descuento">40% OFF</h4>
            </div>
                <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" >
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="div-precioYdescuento">
                <h4 class= "precio">$230.000</h4>
                <h4 class="descuento">20% off</h4>
            </div>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" >
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="div-precioYdescuento">
                <h4 class= "precio">$70.500</h4>
                <h4 class="descuento">10% off</h4>
            </div>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="div-precioYdescuento">
                <h4 class= "precio">$23.200</h4>
                <h4 class="descuento">5% off</h4>
            </div>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
            </article>
        </div>
        </section>

        <section>
            <h2>Ofertas</h2>
            <div class="card-ofertas">
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" >
                <div class="descripcion-de-foto">
                <i class="fas fa-shipping-fast"></i>
                <div class="div-precioYdescuento">
                <h4 class= "precio">$6.770</h4>
                <h4 class="descuento">40% OFF</h4>
            </div>
                <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" >
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                    <!-- <i class="fas fa-truck"></i> este es mejor-->
                    <div class="div-precioYdescuento">
                <h4 class= "precio">$230.000</h4>
                <h4 class="descuento">20% off</h4>
            </div>
                <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" >
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                    <div class="div-precioYdescuento">
                <h4 class= "precio">$70.500</h4>
                <h4 class="descuento">10% off</h4>
            </div>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="descripcion-de-foto">
                    <i class="fas fa-shipping-fast"></i>
                <div class="div-precioYdescuento">
                    <h4 class= "precio">$23.200</h4>
                    <h4 class="descuento">5% off</h4>
                </div>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </div>
            </article>
            </section>
        </div>
        </main>


            <footer>
                <div class="container">
                <div class="row">
                <article class="col-12 col-md-4">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                </article>

                <article class="col-12 col-md-4">
                <i class="fas fa-people-carry"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </article>

                <article class="col-12 col-md-4">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </article>
            </div></div>
                <article class="Copyright">
                    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                </article>            
                
            </footer>
            

    </body>
    </html>