<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    
    <header> 
        <div class="items-header">
        <div class="main-header-top-var">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" >
        <p class="buscar">Lugar para barra de busqueda<i id="iconoBusqueda" class="fa fa-search"></i></p>
        <form action="/search">
            <input type="search" name="buscador" id="buscador" placeholder="Buscas productos, marcas y mas">
            <i id="iconoBusqueda" class="fa fa-search"></i>
        </form>
        
        <p class="div-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="lista-menu">

            <ul class="menu-pagina"> 
                
                <li><a href="http://#">Ofertas</a></li>
                <li><a href="http://#">Tiendas Oficiales</a></li>
                <li><a href="http://#">Vender</a></li>
                <li><a href="http://#">Ayuda</a></li>
            </ul>
            
            <ul class="menu-usuario">
                <li><a  href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a>  </li> 
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                <li><a href="http://#">Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i id='iconoAmburguesa' class="fas fa-bars"></i>
        </div>
    </div>
    </header>

    <main class="login">
        <h3>Login</h3>
        <form class="form-login" action="/" method="GET">
            <input type="text" name="user" placeholder="Nombre de usuario"><span>Minimo dos caracteres</span>
            <input type="password" name="pass" placeholder="Elegí tu contraseña"><span>Minimo 6 caracteres</span>
            <input class="boton-enviar" type="submit" value="Enviar">
        </form>
    </main>


    <footer>
        <div class="div-cards-footer">
            <article class="a">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="a">
            <i class="fas fa-people-carry"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="a">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        </div>
        <article class="Copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>            
        
    </footer>


</body>
</html>
        

        